@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
    :root {
        --vermelho: #CC3926 ;
        --azul: #5E76C9;
        --azulEscuro: #1a3183;
        --azulMaisEscuro: #071033;
        --bege: #EFE9CE;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(assets/fundo2.png); 
    color: #424242;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* cabeçalho */
header {
    background-color: #EFE9CE;
    padding: 20px 5%;
    border-bottom: 2px solid #5E76C9;
}

/* navehação */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav img {
    height: 70px;
    position: relative;
    margin-left: -170px;
}
.nav h2 {
    color: var(--azul);
    margin-left: 10px;
    font-size: medium;
    position: relative;
    text-align: left;
    margin-left: -930px  
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-list a {
    text-decoration: none;
    color: #5E76C9; 
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: var(--vermelho);
}


main h2, label, h1 {
    color: rgb(0, 0, 0);
}

main p {
    color: var(--azulMaisEscuro);
}

.card-info {
    margin: 30px;
    width: 310px;
    height: 350px;
    background-color: #5e75c97c;
    border-radius: 20px ;
    text-align: left;
    padding: 20px;
    position: relative;
    text-align: left;
    margin-left: 460px;
    border: 1px solid black;
}

h1 {
    text-align: center;
    margin: 30px;
}


.contatc {
    text-align: left;
    position: relative;
    margin-left: 820px;
    margin-top: -380px;

}
.form {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 300px;
}

.form label {
    font-weight: bold;
}

.form input, textarea{
    padding: 8px;
    border: 1.5px solid #000000;
    border-radius: 10px;
}

button {
    background-color: var(--vermelho);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 70px;
    align-self: flex-start;
    display: flex;
    position: relative;
    margin-top: 10px;
    text-align: center;
}  

footer {
    background-color: var(--azul);
    position: relative;
    margin-top: 150px;
    height: 100px;


}